.third-content-image-grup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.ui-card{
    display: flex;
    width: 300px;
    height: 300px;
    position: relative; /**/
    overflow: hidden;
    transition: all 0.3s ease-out;
    background:radial-gradient(#111 50%, #000 100%);
    border-radius: 10px;
}

.ui-card img{
    transform: scale(1);
    transition: all 0.3s ease-out;
}
.ui-card:hover img{
    opacity: 0.1
}
.ui-card .description{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.ui-card .description h3{
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 20px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;

}
.ui-card .description p{
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
}
.ui-card .description a{
    color: #fff;
    background:#34aff3;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.4s;
}
.ui-card .description a:hover{
    background:#0a83c5;
}
.ui-card:hover .description h3{
    opacity: 1;
    transform: translateY(-20px);
}
.ui-card:hover .description p{
    opacity: 1;
    transform: translateY(-18px);
}

.description-title{
    font-family: 'Poiret One', cursive;
}
.description-text{
    font-family: 'Righteous', cursive;
    text-align: justify;
    text-indent: 20px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}